# Webstorm project files
*.idea/

#Java class files
*.class


# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

bin/
tmp/
.recommendes

.metadata
.gradle
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath

*.iml

.nb-gradle/

target/
build/

generated/

out/

*.log

__pycache__

/**/web/src/main/webapp/resources/proto/
/**/servergen/src/main/resources/templates/proto/definitions.proto
/**/servergen/src/main/resources/templates/proto/service.proto
